:root[data-theme="dark"] {
    --bg: #3d3a3a;
    --textColor: #f9fafd;
    --borderColor: #2c2c3a;
    --primary: #14252d;
    --pbg: #5c5959;
}

body {
    background-color: var(--bg);
    color: var(--textColor);
}

.modal_dark {
    background-color: var(--bg);
    color: var(--textColor);
}

.dropdown_dark {
    background-color: #938e8e;
    color: var(--textColor);
}

.prompt_bg {
    background-color: var(--pbg);
    color: var(--textColor);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px
}

.modal_text {
    color: var(--textColor);
}

.foot_text {
    color: #938e8e;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.modal-div-block-title {
    float: none;
    display: block;
    margin-left: 1px;
    color: #898989;
}

.modal-div-block-text {
    float: none;
    display: block;
    margin-left: 1px;
    color: var(--textColor);
}

.img-thumbnail {
    cursor: zoom-in;
}

@media (min-width: 576px) {
    .img-thumbnail:hover {
        transform: scale(1.2);
    }
}

.modal_img {
    display: inline-block;
    width: auto;
    max-height: 512px;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid #55585b;
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}